extends layout

block content
    nav.btn
       ul
            li
                a(href='/agregar') Agregar Pizzas
            li
                a(href='/pizzas') Ver Pizzas
            li
                a(href='/borrar') Borrar Pizza
            li
                a(href='/actualizar') Actualizar Pizza